.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-main {
  width: 100%;
  height: 100%;
}

.form {
  min-height: 610px;
}

#contact-form {
  text-align: center;
}

.form-group {
  font-size: 175%;
}

.form-control {
  font-size: 100%;
}

.btn {
  font-size: 150%;
}
